<body>
	<div class ="alarm_top">
		<% t = Time.new %>
		<% str = t.strftime("%H:%M:%S") %>
		<h2><%= str %></h2>
		<p>起床</p>
	</div>
	<div class ="alarm">
		<p>07:20</p>
		<p>朝食</p>
	</div>
	<div class ="alarm">
		<p>08:00</p>
		<p>洗顔</p>
	</div>
</body>