<header>
  <div class="temp_menu">
    <div class="return_img">
    <%= link_to image_tag('return.png'), tasks_cfg_path %>
    </div>
    <h1>注意</h1>
  </div>
</header>
<div class="container">
	<div class="attention">
<!-- 		<h3 style="color: red;">※現在アラームはなりません※</h3>
		<p style="color: red;">申し訳ございません、調整中です。</p> -->
		<h3>◆アラームについて</h3>
		<p>
			アラーム音はアラームのページを開いてる時のみ鳴ります(1秒程度の遅れあり)。<br>
			また、アラーム音が繰り返し鳴って止まらない時はページをリロードしていただければ(おそらく)止まります。<br>
			<br>
<!-- 			その他わからない点があれば　2M高村美紀(ドムジャ)までお願いします。↓<br>
			mino0730.t@gmail.com -->
		</p>
	</div>
</div>