<header>
  <div class="temp_menu">
    <%= link_to image_tag('plus.png'), new_task_path %>
    <%= image_tag "dust.png" %>
  </div>
</header>
<div class="task">
  <table>
    <tr>
      <p>月曜日</p>
    </tr>
  </table>
</div>
<div class="task">
  <table>
    <tr>
      <p>火曜日</p>
    </tr>
  </table>
</div>