// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


header{
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: #fb8e7f;
}

.temp_menu{
	display: flex;
	padding: 10px
}

.temp_menu h1{
	color: white;
	font-size: 20px;
	padding-top: 10px;
	padding-right: 50px;
	padding-left: 50px;
}

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #fb8e7f;
	padding: 10px;
}

.menu_icon img{
	padding: 0px 23px;
	width: 23%;
}

.task{
	background-image: url("block.png");
	background-position: 20px 20px;
	padding: 40px;
}

.task p{
	margin: 10px;
}

table tr{
	margin: 20px;
}

table img{
	width: 25px;
	padding-top: 10px;
}

.alarm_top{
	background-image: url("block_top.png");
	background-position: 20px 20px;
	padding: 40px;
}
.alarm_top h2{
	font-size: 45px;
	font-weight: normal;
	text-align: center;
	padding: 10px;
}
.alarm_top p{
	font-size: 25px;
	text-align: center;
	padding: 10px;
}

.alarm{
	background-image: url("block.png");
	background-position: 20px 20px;
	display: flex;
}
.alarm p{
	padding: 45px;
	margin-top: 5px;
	margin-left: 10px;
	font-size: 20px;
}
.space{
	padding: 50px;
}
 .container{
 	padding-bottom: 70px;
 	padding-top: 50px;
 }